@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float | 3d');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	min-height: 100vh;
	width: 100%;
	position: relative;
}

.main {
	min-height: 100vh;
	width: 100%;
	position: relative;
	padding: 10px 100px;
	border-radius: 50px;
	overflow: hidden;
}

.main header {
	width: 100%;
	padding: 10px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main header a .logo {
	max-width: 150px;
	border-radius: 50%;
	margin-right: 40px;
}

.main header h1 {
	font-size: 50px;
}

.main .container {
	width: 100%;
	height: calc(100vh - 250px);
	display: flex;
}

.main .side-nav {
	top: 0;
	left: 0;
	width: 400px;
	height: 100%;
	padding: 20px 30px;
	position: relative;
}
.main .side-nav .list-items {
	margin-bottom: 70px;
}
.main .side-nav .list-items .item {
	/* width: 100%; */
	text-align: left;
	list-style: none;
}

.main .side-nav .list-items .item a {
	text-decoration: none;
	display: block;
	color: #000;
	font-weight: 400;
	padding: 5px;
	transition: 400ms ease-in;
}
.main .side-nav .list-items .item a i {
	margin: 0 5px;
	font-size: 1.2rem;
}

.main .side-nav .list-items .item:hover a {
	transform: translateX(20px);
}

.main .container .side-nav .side-nav-text {
	font-size: 0.8rem;
}

.main .container article {
	padding: 20px 30px;
	width: 100%;
}
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background: rgba(0, 0, 0, 0.5); */
	padding: 20px 100px;
}
footer .social-accounts {
	display: flex;
}
footer .social-accounts .account {
	list-style: none;
}

footer .social-accounts .account i {
	font-size: 1.5rem;
	margin: 0 10px;
	transition: 500ms ease;
}

footer .social-accounts .account:hover i {
	transform: translateY(-10px);
}
